@import "tailwindcss";
@keyframes slide-in-right {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes progress-slide {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

.animate-slide-in-right {
  animation: slide-in-right 0.4s ease-out;
}

.animate-progress-slide {
  animation: progress-slide 4s linear forwards;
}
